
* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
  }
  
   body {
   
    color: #f0f0f0;
    font-size: 16px;
  
    
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: "Roboto", sans-serif;
  }
  
  
  body {
    height: 100%;
  }
  
  .calculadora {
    animation: sideIn 480ms cubic-bezier(0.42, 0, 0.21, 1);
    background-color: #321186;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    width: 252px;
  }
  
  
  .calcular {
    margin: 50px 0 60px;
    text-align: right;
  }
  
  .calcular p {
    background: transparent;
    border: none;
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
    width: 100%;
  }
  
  .calcular h3 {
    color: #5d4ba4;
    font-size: 15px;
    font-weight: 500;
    height: 18px;
  }
  
 
  .butao {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 10px;
  }
  
    
  .button {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    margin: 2px;
    transition: all 0.15s ease-in-out;
    width: 50px;
  }
  
  .butao:hover {
    
    background-color: #2f2d38;
  }
 
   
  
  
  .buttonL {
    color: #7d5dfe;
  }
  /*
   function calculateResult() {
    let result = document.getElementById("result").value;
    let expression = result.replace(/isEven/g, '%2==0').replace(/isOdd/g, '%2!=0').replace(/isPrime/g, 'isPrime($&)').replace(/(\d+)!/g, 'factorial($1)').replace(/(\d+)sqrt/g, 'Math_sqrt($1)').replace(/\^/g, '**');
    
    console.log(expression);
    // /sqrt\(([^)]+)\)/g
    
    try {
      let evalResult = eval(expression);
      console.log(evalResult);
      
      if (evalResult === Infinity || isNaN(evalResult)) {
        document.getElementById("result").value = "Erro";
      } else {
        document.getElementById("result").value = evalResult;
        
        resultPar.innerHTML = Number(evalResult) % 2 == 0 ? 'true' : 'false'

        resultImpar.innerHTML = Number(evalResult) % 2 != 0 ? 'true' : 'false'

        
        
      }
    } catch {
      document.getElementById("result").value = "Erro";
    }

    console.log(Number(result.value));
    
  }
 
  
  function factorial(n) {
    if (n === 0 || n === 1) {
      return 1;
    } else {
      return n * factorial(n - 1);
    }
  }
 
   function isPrime(n) {
    console.log(n);
    if (n < 2) {
      return false;
    }
    for (let i = 2; i <= Math.sqrt(n); i++) {
      if (n % i === 0) {
        return false;
      }
    }
    return true;
  }

  function Math_sqrt(n){
    console.log('aqui');Pri
    return Math.sqrt(n)
  } */

  
  
 
  
  

    